aiohttp==3.6.3
appdirs==1.4.4
asgiref==3.2.10
astroid==2.4.2
async-timeout==3.0.1
attrs==20.2.0
certifi==2020.6.20
chardet==3.0.4
colorama==0.4.3
discord==1.0.1
discord.py==1.5.0
distlib==0.3.1
filelock==3.0.12
idna==2.10
isort==4.3.21
lazy-object-proxy==1.4.3
logger==1.4
mccabe==0.6.1
mee6-py-api==0.0.1
multidict==4.7.6
praw==7.1.0
prawcore==1.5.0
pylint==2.5.3
pytz==2020.1
requests==2.24.0
six==1.15.0
soupsieve==2.0.1
sqlparse==0.3.1
toml==0.10.1
update-checker==0.18.0
urllib3==1.25.10
virtualenv==20.0.26
websocket-client==0.57.0
wrapt==1.12.1